*
.P2{
    text-align: center;
    color: aliceblue;
}

.div-img{
    text-align: center;
}
.img1{

    width: 20%;
}
body{
    background-image:url(../imagenes/c2c01efeffa95dfc74c32feb9303a6b0.jpg)
}
.T1{
    color: aliceblue;
    text-align: center;
}
.B1{
   
    margin: 0%;
    list-style: none;
    padding-left: 0%;
    text-align: center;
}
.B1 li{
    display: inline-block;
}
.B1 a{
    color: #fff;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    display: block;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.B1 a:hover{
    background-color: #fff;
    color: #39a900;
}
.B1 a:active{
    background-color: #fff;
    color: red;
}
.I4{
    color: aliceblue;
}
.I5{
    width: 6%;
}
.T3{
    text-align: justify;
    color: aliceblue;
}
.L1{
    color: aliceblue;
}
.P4{
    color: aliceblue;
}
.M1{
    color: aliceblue;
}
.M2{
    color: aliceblue;
}
.M7{
    color: aliceblue;
}