*
.P2{
    text-align: center;
    color: aliceblue;
}

.div-img{
    text-align: center;
}
.img1{

    width: 20%;
}
body{
    background-image:url(../imagenes/c2c01efeffa95dfc74c32feb9303a6b0.jpg)
}
.T1{
    color: aliceblue;
    text-align: center;
}
.B1{
    color: aliceblue;
}
.I4{
    color: aliceblue;
}
.I5{
    width: 6%;
}
.T3{
    text-align: justify;
    color: aliceblue;
}
.L1{
    color: aliceblue;
}
.P4{
    color: aliceblue;
}
.M1{
    color: aliceblue;
}
.M2{
    color: aliceblue;
}